{% extends 'main/main_temp.html' %}
<!---->
{% load static %}
<!---->
{% block content %}
<nav class="navbar sticky-top navbar-expand-lg navbar-white bg-white">
  <a href="{% url 'index' %}" class="navbar-brand p-1">
    <img src="{% static 'main/img/logo.png' %}" height="20" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-white text-center" id="navbarText">
    <div class="navbar-nav p-1">
      <a href="#Allgemein" class="nav-item nav-link">dummylink</a>

      <a href="{% url 'admin:index' %}" class="btn btn-grey border m-1"
        >Log-In</a
      >
    </div>
  </div>
</nav>

<br />
<br />
<div class="container-fluid">
  <table class="table table.responsive table-hover text-center table table-sm">
    <th class="bg-light">Delete</th>
    <th class="bg-light">Name</th>
    <th class="bg-light"></th>
    <th class="bg-light"></th>
    {% for el in form_list %}
    <form method="POST">
      {% csrf_token %}
      <!---->
      <tr>
        <td class="text-center">{{ el.del_field }}</td>
        <td>{{ el.name }}</td>
        <td>
          <span class="d-none position-absolute">{{ el.uniq_id }}</span>
        </td>
        <td>
          <input type="submit" class="text-center" value="Delete/Update" />
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td class="text-center"></td>
        <td class="text-center">{{ new_entry_form.new_field }}</td>
        <td>
          <span class="d-none position-absolute">{{ el.uniq_id }}</span>
        </td>
        <td>
          <input type="submit" class="text-center" value="Save" />
        </td>
      </tr>
    </form>
  </table>
</div>
{% endblock %}
